<ion-view view-title="user">
    <ion-content>
        <div class="card col-offset-10 col-80">
            <div class="item item-divider">
                Detalle usuario
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <a class="item item-icon-left">
                        <i class="icon ion-person"></i>
                        {{user.name}}
                    </a>
                    <a class="item item-icon-left item-icon-right" >
                        <i class="icon ion-chatbubble-working"></i>
                        {{user.phone}}
                        <i class="icon ion-ios-telephone-outline"></i>
                    </a>
                    <a class="item item-icon-left">
                        <i class="icon ion-mic-a"></i>
                        {{user.email}}
                <span class="item-note">
                  Grammy
                </span>
                    </a>
                    <a class="item item-icon-left">
                        <i class="icon ion-person-stalker"></i>
                        {{user.website}}
                        <span class="badge badge-assertive">0</span>
                    </a>
                    <a class="item item-icon-left">
                        <i class="icon ion-android-delete"></i>
                        {{user.website}}
                    </a>
                </div>
            </div>
            <div class="item item-divider">
                detalle user
            </div>
        </div>
    </ion-content>
</ion-view>